body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.converter {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

textarea {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
    background-color: #cc00ff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #3700ff;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .container {
    background-color: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark-mode label {
    color: #ccc;
}

#darkModeButton {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
}

#darkModeButton:hover {
    background-color: #555;
}

/* Dark mode icon styles */
.dark-mode-icon {
    font-size: 24px;
}
